.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 1000;
    overflow-y: auto;
    padding: 20px;
    padding-top: 100px;
}

.modalContent {
    background-color: white;
    border-radius: 16px;
    padding: 30px;
    width: 40%;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    max-height: 80vh;
    overflow-y: auto;
}

.closeButton {
    position: absolute;
    right: calc(30% - 100px);
    top: 80px;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: white;
    background-color: black;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    z-index: 10;
    margin-left: 20px;
}

.closeButton:hover {
    background-color: #333;
    color: white;
}

.statsContent {
    margin-top: 20px;
}

.statRow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eacdff;
    width: 97%;
    padding: 10px;
    border-radius: 15px;
    padding: 30px 0;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.statSubscription {
    font-size: 20px;
    color: #201b10;
    margin-top: 10px;
}

.statValue {
    font-size: 40px;
    color: #201b10;
}
